@import "reset.less";
@import "main-game.less";
@import "funcs.less";
@font-face {
    font-family: 'motorola_screentyperegular';
    src: url('../assets/motorolascreentype-webfont.eot');
    src: url('../assets/motorolascreentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/motorolascreentype-webfont.woff') format('woff'),
         url('../assets/motorolascreentype-webfont.ttf') format('truetype'),
         url('../assets/motorolascreentype-webfont.svg#motorola_screentyperegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "client.less";

html {
  height: 200px;
  overflow: hidden;
}
body {
  position: absolute;
  overflow: hidden;
  width:100%;
  height:100%;
  top:0;
  left:0;
  margin:0;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body.client div#server {
  display: none;
}

* {
   -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
}

#gameholder {
  position: relative;
  width:100%;
  height:100%;
}

// GAME

#game-over, #game-over-overlay {
  margin:auto;
  width:640px;
  height:480px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  display:none;
}

#game-over-overlay{
  background-color:black;
  opacity:.5;
}
#game-over{
  height: 200px;
  text-align:center;
  color:white;
}
#game-over h1{
  font-size:3em;
  font-family:sans-serif;
}
#game-over button{
  font-size:1.5em
}


body.client {
  #gameholder{
    display: none;
    }

   
}

#splash {
  display:none;
}



#instruction-box {
  //background: #fff;
  .centerVminBox();
  //border: solid 5px #ccc;
  //font-family: "Press Start 2P";

  display:none;

  body.show-intro & {
    display: block;
  }

  color:#000;
  font-size: 2.7vmin;
  line-height: 1.2em;

  img {
    width: 55vmin;
    height: 43.72vmin;
    display: block;
    margin: 0 auto;
    margin-bottom: 6vmin;
  }

  h1 {
    margin: 5vmin 0;
    text-align: center;
    font-size: 10vmin;
    font-weight: normal;
    display:none;
  }

  h3 {
    text-align: center;
    font-size: 15vmin;
    margin:8vmin;
  }

  p {
    font-family: "motorola_screentyperegular";
    margin: 0 4vmin;
    text-align: center;
  }

  body.ipad & {
    -webkit-transform:scale(0.5,0.5);
    //margin-top: -55vmin;
  }
  
}

.redbox {
  background-color: #BB3316;
  color:#fff;
  
  border: solid 1vmin #D13125;
  border-width: 0.7vmin 0px 0px 0.7vmin;
  font-family: "motorola_screentyperegular";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;

  div.inner {
    border: solid 1vmin #8C1616;
    border-width: 0px 0.7vmin 0.7vmin 0px;
    padding: 3vmin;
  }
}

#intro {
  

  

  a {
    color: #C0A49B;
    text-decoration: none;
  }

  p {
    margin:0;
    //font-size: 24px;
  }

  ol, li {
    list-style: none;
  }
  li {
    display: inline-block;
    width: 49%;
    padding-left: 10vmin;
    margin-bottom: 4vmin;
    cursor: pointer;
    font-size: 4vmin;
    position: relative;
    
    height: 4vmin;
    line-height: 4vmin;

    &.selected {
      text-decoration: underline;
      background: url("../assets/anim-bird.gif") no-repeat;
      background-size: auto 100%;
    }
  }

  ol {
    margin: 5vmin 0 1vmin; 
  }
}




#gamecontainer, #instruction-box {
  display: none;
}

#howtoplay, #gameover {
  display: none;
}

#gameover {
  margin-top: 10vmin;
}

#signals {
  display: none;
  text-align: center;
  margin-top: 6vmin;
  .signal {
    width: 20vmin;
    height: 20vmin;
    border-radius:10vmin;
    background: red;
    display:inline-block;

    &.active {
      background: green;
    }
  }
}
/*
#client, #client_play {
  display: none;
  color:#000;
font-family: "Press Start 2P";
  
    form {
      margin-bottom: 5vmin;
    }
    h1 {
      
      font-size: 8vmin;
      margin: 5vmin 0;
      text-align: center;
      font-family: "Press Start 2P";
    }

    h3 {
      text-align: center;
      font-size: 3vmin;
      margin:8vmin;
    }

    p {
      font-family: "Press Start 2P";
      margin: 0 3vmin;
      font-size: 4vmin;
      line-height: 1.2em;
      text-align: center;
    }

    .holder {
      position: relative;
      height: 20vw;
    }

    #codenum, #nums {
      width: 90vw;
      display: block;
      margin: 6vw 5vw 3vw;
      font-size: 8vw;
      font-family: "Press Start 2P";
      padding: 2vw;
      text-align: center;
      border: solid 3px #aaa;
      background:transparent;
      position: absolute;
      z-index:2;
      //line-height: 10vmin;
    }

    #nums {
      position: absolute;
      z-index:1;
      border-color:transparent;
    }

    .sub {
      display:block;
      width:90vw;
      margin: 0vw 5vw;
      font-family: "Press Start 2P";
      padding: 2vw;
      text-align: center;
      height: 12vw;
      font-size: 4vw;
      background: #ccc;
      border: solid 3px #aaa;
    }

}

body.client #client {
    display: block;
  }

#client_play {
  display: none;
}

#touchtarget {
  width: 80vmin;
  height: 80vmin;
  margin: 10vmin 10vmin 0;
  background: red;
  border-radius: 40vmin;
}

body.touched {
  background: green;
  #touchtarget {
    background: white;
  }
  #client_play {
    color:#fff;
  }
}*/

#infobutton {
  position: absolute;
  top:0;
  right:0;
  background: #fff;
  z-index:2;
  color:#000;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  padding: 2vmin;
  cursor:pointer;
  font-size: 2vmin;
}

#infobox {
  display: none;
  position: absolute;
  z-index:20;
  right:0;
  top: 6vmin;
  background: #fff;
  color:#000;
  width: 60vmin;
  font-family: monospace;
  padding:2vmin;
  line-height: 1.5em;
  font-size: 2vmin;
  height: 40vmin;
  overflow-y: scroll;
}

canvas {
  image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}

#score-box {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
  margin-top: -18px;
  z-index:10;
  display: none;

  img {
    height: 10vmin;
    display: inline-block;
    margin-right: -1.5vmin;
  }
}

@import "birds.less";
@import "connect-box.less";
@import "countdown-box.less";
@import "scoreboard.less";